{% extends "layout.html" %}
{% block title %}
    Color Palettes
{% endblock %}

{% block main %}
    <!-- make sure that url up top matches html page -->
    <form action="/colorPalette" method="post">
        {% for color in colors %}
        <div class="color" style="background-color: {{ color }};">
            <!-- display inputted clors -->
            {% for row in rows %}
                <tr>
                    <td>{{row}}</td>
                </tr>
            {% endfor %}

        </div>
        {% endfor %}
    </form>
{% endblock %}
