{% extends "layout.html" %}
{% block title %}
    Color Palette
{% endblock %}

{% block main %}
    <!-- make sure that url up top matches html page -->
    <form action="/colorPalette" method="post">
        <div class="mb-3">
            <label for="colorpicker">Color Palette page:</label>
        </div>
        {% for color in colors %}
        <svg height="100" width="100">
            <circle cx="50" cy="50" r="40" stroke="black" stroke-width="3" fill="{{color}}" />
          </svg>
        {% endfor %}
    </form>
{% endblock %}
