{% extends "layout.html" %}
{% block title %}
    History
{% endblock %}

{% block main %}
    <!-- make sure that url up top matches html page -->
    
    <form action="/history" method="post">
        <div class="section">

            <h2>History</h2>
            <table>
                <thead>
                    <tr>
                        <th>Symbol</th>
                        <th>Price</th>
                        <th>Number of Shares</th>
                        <th>Day and Time</th>
                    </tr>
                </thead>
                <tbody>
                        <!-- Loop through the database entries to display them in this table -->
                        {% for row in rows %}
                            <tr>
                                <td>{{row.symbol }}</td>
                                <td>{{row.price }}</td>
                                <td>{{row.shares }}</td>
                                <td>{{row.date }}</td>
                            </tr>
                        {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
{% endblock %}
