{% extends "layout.html" %}
{% block title %}
    Home Page
{% endblock %}

{% block main %}
    <!-- make sure that url up top matches html page -->
    <form action="/homePage" method="post">
        <div class="section">

            <h2>Index</h2>
            <table>
                <thead>
                    <tr>
                        <th>Symbol</th>
                        <th>Price</th>
                        <th>Number of Shares</th>
                        <th>Value of Holding</th>
                    </tr>
                </thead>
                <tbody>
                        <!-- TODO: Loop through the database entries to display them in this table -->
                        {% for row in rows %}
                            <tr>
                                <td>{{row.symbol }}</td>
                                <td>{{row.price }}</td>
                                <td>{{row.shares }}</td>
                                <td>{{row.price*row.shares }}</td>
                            </tr>
                        {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
{% endblock %}
