{% extends "layout.html" %}
{% block title %}
    Home Page
{% endblock %}

{% block main %}
    <!-- make sure that url up top matches html page -->
    <form action="/homePage" method="post">
        <body background="homepage.png">
            <h1>
                Welcome to PaletteMe!
            </h1>
            <h3>
                Input a color, and we will give you a corresponding palette that you can use for painting inspiration, interior decor, and so much more!
            </h3>
        </body>
    </form>
{% endblock %}
